<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.chickenhousebackend.mapper.UserMapper">  <!--位置-->

    <update id="changeInfo" parameterType="map">
        UPDATE user
        <set>
            <if test="user.name != null">
                name = #{user.name},
            </if>
            <if test="user.password != null">
                password = #{user.password},
            </if>
            <if test="user.avatar != null">
                avatar = #{user.avatar},
            </if>
            <if test="user.signature != null">
                signature = #{user.signature},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>